<%= simple_form_for @ramen do |form| %>
  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :description %>
    <%= form.input :photo %>
    <%= form.submit "Add a ramen", { class: 'btn btn-submit' } %>
  </div>
<% end %>

