<div class="container">
<%= simple_form_for @ramen do |form| %>
  <%= form.input :name %>
  <%= form.input :description %>
  <%= form.input :photo %>
  <%= form.submit "Add a ramen", { class: 'btn btn-submit' } %>
<% end %>
</div>
