<div class="ramen-photo" style="background-image: url('https://images.unsplash.com/photo-1526318896980-cf78c088247c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=20e4c4698221bea2095b10b4998d3be4');">
  <%= render "shared/navbar" %>
</div>
<div class="container">
  <div class="ramen-description">
    <!-- above placeholder for link_to favourite -->
    <% unless @ramen.user == @user %>
      <% unless @favourite.nil? %> <!-- checks to see if user has not favorited the ramen -->

        <% if @favourite.accepted == "Pending"%>
        <%= @ramen.name %>
         <%= "Pending" %>
        <% elsif @favourite.accepted == "Accepted" %>

          <h2><%= @ramen.name %> <i class="fa fa-star " style= "color: #E7C719;"></i></h2>
        <% end %>

        <% else %>
          <h2><%= @ramen.name %>
          <%= link_to(ramen_favourites_path(@ramen), method: :post) do %>
            <i class="fa fa-star favourite" id = "fav-request" ></i>
          <% end %>
        </h2>
       <!-- Other wise, if the user has favorited the ramen, then show name with a yellow star-->

      <% end %>
    <% else %>
      <h2><%= @ramen.name %></h2>
    <% end %>
    <p><%= @ramen.description %></p>
    <p>This ramen was brought to you by: User<i> <%= @ramen.user.email %> </i></p>
  </div>

  <div class="review">
    <ul>
      <% @reviews.each do |review| %>
      <%= review.user.email %>
      <%= review.content %>
    </ul>
    <% end %>
</div>

<%= render 'reviews/form_new', review: @review %>

<% if policy(@ramen).edit? %>
  <%= link_to 'Edit', edit_ramen_path(@ramen) %>
<% end %>
