<div class="ramen-photo" style="background-image: url('<%= cl_image_path @ramen.photo, crop: :fill %>');">
  <%= render "shared/navbar" %>
</div>
<div class="container">
  <div class="ramen-description">
    <!-- above placeholder for link_to favourite -->
    <% unless @ramen.user == @user %>
      <% unless @favourite.nil? %> <!-- checks to see if user has not favorited the ramen -->

        <% if @favourite.accepted == "Pending"%>
          <h2><%= @ramen.name %> <i class="fas fa-user-clock"></i></h2>
        <% @tags.each do |tag| %>
          <%= tag.category %>
        <% end %>
        <% elsif @favourite.accepted == "Accepted" %>
          <h2><%= @ramen.name %> <i class="fa fa-star " style= "color: #E7C719;"></i></h2>
        <% end %>

        <% else %>
          <h2><%= @ramen.name %>
          <% @tags.each do |tag| %>
            <%= tag.category %>
          <% end %>
          <%= link_to(ramen_favourites_path(@ramen), method: :post) do %>
            <i class="fa fa-star favourite" id = "fav-request" ></i>
          <% end %>
        </h2>
       <!-- Other wise, if the user has favorited the ramen, then show name with a yellow star-->

      <% end %>
    <% else %>
      <h2><%= @ramen.name %></h2>
      <% @tags.each do |tag| %>
        <%= tag.category %>
      <% end %>
    <% end %>
    <p><%= @ramen.description %></p>
    <% if @user == @ramen.user %>
      <p>Grasciously prepared by you</p>
    <% else %>
      <p>Created by: <i> <%= @ramen.user.email %> </i></p>
    <% end %>
  </div>

  <div class="review" id = "reviews">
    <ul>
      <% @reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
      <%= "hello from show " %>
<!--       <%= review.user.email %>
      <%= review.content %> -->
    </ul>
    <% end %>
</div>

<%= render 'reviews/form_new', review: @review %>

<% if policy(@ramen).edit? %>
  <%= link_to 'Edit', edit_ramen_path(@ramen) %>
<% end %>
