
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="ramen-tab" data-toggle="tab" href="#ramen" role="tab" aria-controls="ramen" aria-selected="false">Ramen</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request" aria-selected="false">Requests</a>
    </li>
  </ul>

  <div class="main">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade active" id="ramen" role="tabpanel" aria-labelledby="ramen-tab">
        <div class="display">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>Hello User</h1>
              </div>
            </div>
            <div class="row">
              <% @user.ramens.each do |ramen| %>
                <div class="col-xs-12 col-s-6 col-md-3">
                <div class="card user-ramen-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                  url('<%= cl_image_path ramen.photo, height: 300, width: 300, crop: :fill %>')">
                    <div class="user-ramen-content">
                      <div class="card-ramen-name">
                        <%= ramen.name %>
                        <p><%= ramen.description.truncate(3) %></p>
                      </div>
                    </div>
                    <%= link_to " ", ramen_path(ramen), class: "card-link"%>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
        <div class="display">
          <h1>Bonjour</h1>
          <h2>Reviews that you made</h2>
          <ul class="list-group list-group-flush">
            <% unless @reviews_myself.nil? %>
              <% @reviews_myself.each do |review| %>
               <p><%=review.user.email %></p>
               <li class="list-group-item"><%= review.content %></li>
              <% end %>
            <% end %>
          </ul>
          <h2>Reviews for your ramen</h2>
          <ul class="list-group list-group-flush">
            <% unless @reviews_others.nil? %>
              <% @reviews_others.each do |review| %>
               <p><%=review.user.email %></p>
               <li class="list-group-item"><%= review.content %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="tab-pane fade" id="request" role="tabpanel" aria-labelledby="request-tab">
        <div class="taste-requests">
          <% @user.ramens.each do |ramen| %>
            <% ramen.portions[0].tastes.each do |taste_request| %>
              <p><%= ramen.portions[0].users[0].email %> would like to taste <%= ramen.name %></p>
            <% end %>
          <% end %>
        </div>

        <div class="display">
          <div class="container">
              <div class="row">
                <div class="col-12">
                  <h1>Pending requests</h1>
                </div>
                <% @user.ramens.each do |ramen| %>
                  <% ramen.favourites.each do |fav| %>
                    <% if fav.accepted == "Pending" %>
                      <div class="col-12 ">
                        <div class="pending-flex ">
                          <p><%= fav.user.email %> wants to add <%= fav.ramen.name %> to their favorite's list</p>

                          <div class="pending-actions">
                            <%= link_to "Accept", favourite_path(fav), class: "btn btn-success", id: "accept-fav", method: :patch %>
                            <%= link_to "Decline", favourite_path(fav), class: "btn btn-danger", id: "reject-fav", method: :delete %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
