<div class="footer">
  <div class="footer-links">
    <%= link_to '<i class="fab fa-twitter"></i>'.html_safe, '#' %>
    <%= link_to '<i class="fab fa-facebook-f"></i>'.html_safe, "#" %>
    <%= link_to '<i class="fab fa-github"></i>'.html_safe, "#" %>
    <%= link_to '<i class="fab fa-instagram"></i>'.html_safe, '#' %>
    <%=  link_to '<i class="fab fa-linkedin"></i>'.html_safe, '#' %>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
